<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Mimi Lam</title>
        <link rel="icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/main.css"/>
        <link rel="stylesheet" href="../assets/css/cover.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <div class="background">
        <body>
            <div class="container">
                <div class="mx-auto pt-5 text-center">
                    <img src="../assets/images/headshot.PNG" alt="Picture of Mimi Lam" id="headshot"/>
                </div>
            </div>
            <br/>
            <div class="block container rounded p-3 text-center">
                <h1><strong>Hi! My name is Mimi Lam.</strong></h1>
                <br/>
                <h4>I'm an aspiring computer programming student who is always looking for a challenge.</h4>
                <br/>
                <div class="row no-gutters">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">
                        <a href="projects.html"><button type="button" class="btn btn-outline-primary cover-header-btn">Projects</button></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="timeline.html"><button type="button" class="btn btn-outline-primary cover-header-btn">Timeline</button></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="contact.html"><button type="button" class="btn btn-outline-primary cover-header-btn">Contact</button></a>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <br/>
                <a href="https://github.com/sashimimi"><button type="button" class="btn btn-outline-primary"><img src="../assets/images/github-dark.png"/></button></a>
                <a href="https://www.linkedin.com/in/mimikhlam/"><button type="button" class="btn btn-outline-primary"><img src="../assets/images/linkedin.png" id="linkedin"/></button></a>
            </div>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <div class="block container-fluid rounded p-3 text-center">
                <h2><strong>About</strong></h2>
                <h4>I'm Mimi, (currently) a computer programming student and (forever) a lifelong learner.</h4>
                <br/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="row no-gutters">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        test
                    </div>
                    <div class="col-lg-2">
                        test
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
            <br/><br/>
            <div class="block container-fluid rounded p-3 text-center">
                <h2><strong>Every programmer starts somewhere.</strong></h2>
                <h4>I believe in tracking growth as a programmer throughout the years and documenting the journey, all the way from the beginning.</h4>
            </div>
            <br/><br/>
            <
        </body>
    </div>
</html>