<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Mimi Lam</title>
        <link rel="icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/main.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand mx-auto" href="../index.html">
                    <img src="../assets/images/favicon.ico"/>
                    Mimi Lam
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <a href="../index.html" class="btn btn-outline-primary custom-navbar" role="button">Home</a> <p class="star-light">&#9733;</p>
                        <a href="../index.html#about" class="btn btn-outline-primary custom-navbar" role="button">About Me</a> <p class="star-light">&#9733;</p>
                        <a href="portfolio.html" class="btn btn-outline-primary custom-navbar" role="button">Portfolio</a> <p class="star-light">&#9733;</p>
                        <a href="timeline.html" class="btn btn-outline-primary custom-navbar" role="button">Timeline</a> <p class="star-light">&#9733;</p>
                        <a href="contact.html" class="btn btn-outline-primary custom-navbar" role="button">Contact</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content">
            <br/>
            <div class="block container rounded p-3 text-center">
                <h1>Portfolio</h1>
            </div>
            <br/>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/newportfolio.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    The development portfolio of Mimi Lam, version 2.
                                    <br/><br/>
                                    <i>Responsive, HTML, CSS, Bootstrap</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/sashimimi.me"><button class="btn btn-info">View Project</button></a>
                                    <!--repository link-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/diceroll.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample program demonstrating the creation of a custom JFrame dialog.
                                    <br/><br/>
                                    <i>Java, Java Swing</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/DiceRollJFrame"><button class="btn btn-info">View Project</button></a>
                                    <!--repository link-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/phpupdate.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample web project of a basic storefront with authorization and database functions.
                                    <br/><br/>
                                    <i>PHP, MySQL</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/sashimimi.me/tree/master/projects/phpupdate"><button class="btn btn-info">View Project</button></a>
                                    <a href="../projects/phpupdate/login.html"><button class="btn btn-info">Live Demo</button></a>
                                    <!--repository link and demo-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/oldportfolio.png" class="image">
                            <div class="overlay">
                              <div class="text">
                                  The development portfolio of Mimi Lam, version 1.
                                  <br/><br/>
                                  <i>HTML, CSS, Bootstrap</i>
                                  <br/><br/>
                                  <a href="https://github.com/sashimimi/sashimimi.github.io"><button class="btn btn-info">View Project</button></a>
                                  <a href="https://sashimimi.github.io"><button class="btn btn-info">Live Demo</button></a>
                                  <!--repository link and demo-->
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/phpwebservice.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample program demonstrating the creation of a RESTful web service.
                                    <br/><br/>
                                    <i>PHP, AJAX, MySQL, REST API</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/SamplePHPWebService"><button class="btn btn-info">View Project</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/javawebservice.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample program demonstrating the creation of a SOAP web service.
                                    <br/><br/>
                                    <i>Java, HTML, JSP, SOAP</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/SampleJavaWebService"><button class="btn btn-info">View Project</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/sportspro3b.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample program demonstrating a sample storefront.
                                    <br/><br/>
                                    <i>C#, ASP.NET</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/SportsPro3B"><button class="btn btn-info">View Project</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/caesarcipher.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Code snippet demonstrating Caesar cipher encryption and decryption.
                                    <br/><br/>
                                    <i>Kotlin</i>
                                    <br/><br/>
                                    <a href="https://gist.github.com/sashimimi/60ab7f36c03b1366630f58afd01443a5"><button class="btn btn-info">Encryption Gist</button></a>
                                    <a href="https://gist.github.com/sashimimi/682fb7ca53da9b74ee0383272e37a581"><button class="btn btn-info">Decryption Gist</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/phpgroupproject.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample group project program demonstrating the creation of a RESTful web service.
                                    <br/><br/>
                                    <i>PHP, AJAX, MySQL, REST API</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/SamplePHPGroupProject"><button class="btn btn-info">View Project</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="container-project">
                            <img src="../assets/images/javagroupproject.png" class="image">
                            <div class="overlay">
                                <div class="text">
                                    Sample group project program demonstrating the creation of a SOAP web service.
                                    <br/><br/>
                                    <i>Java, HTML, JSP, SOAP</i>
                                    <br/><br/>
                                    <a href="https://github.com/sashimimi/SampleJavaGroupProject"><button class="btn btn-info">View Project</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <footer class="footer bg-dark text-white text-center">
            <div class="container p-3">
                <div class="row no-gutters">
                    <div class="col-lg-auto mx-auto">
                        <a href="https://github.com/sashimimi"><button type="button" class="btn btn-outline-primary social"><img src="../assets/images/github-light.png"/></button></a>
                        <a href="https://www.linkedin.com/in/mimikhlam/"><button type="button" class="btn btn-outline-primary social"><img src="../assets/images/linkedin.png" class="linkedin"/></button></a>    
                    </div>
                </div>
                <br/>
                <div class="row no-gutters">
                    <div class="col-lg-auto mx-auto"><a href="../index.html" class="footer-link">Home</a></div>
                    <div class="star-light">&#9733;</div>
                    <div class="col-lg-auto mx-auto"><a href="../index.html#about" class="footer-link">About</a></div>
                    <div class="star-light">&#9733;</div> 
                    <div class="col-lg-auto mx-auto"><a href="portfolio.html" class="footer-link">Portfolio</a></div>
                    <div class="star-light">&#9733;</div>
                    <div class="col-lg-auto mx-auto"><a href="timeline.html" class="footer-link">Timeline</a></div>
                    <div class="star-light">&#9733;</div>
                    <div class="col-lg-auto mx-auto"><a href="contact.html" class="footer-link">Contact</a></div>
                </div>
                <br/>
                <div class="row no-gutters">
                    <div class="col-lg-auto mx-auto"><p>Mimi Lam</p></div>
                </div>
            </div>
        </footer>
    </body>
</html>