<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Mimi Lam</title>
        <link rel="icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/main.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand mx-auto" href="index.html">
                    <img src="../assets/images/favicon.ico"/>
                    Mimi Lam
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <a href="index.html" class="btn btn-outline-primary custom-navbar" role="button">Home</a> <p class="star-light">&#9733;</p>
                        <a href="about.html" class="btn btn-outline-primary custom-navbar" role="button">About Me</a> <p class="star-light">&#9733;</p>
                        <a href="projects.html" class="btn btn-outline-primary custom-navbar" role="button">Projects</a> <p class="star-light">&#9733;</p>
                        <a href="contact.html" class="btn btn-outline-primary custom-navbar" role="button">Contact</a>
                    </div>
                </div>
            </nav>
        </header>
        <br/>
        <div class="block container rounded p-3 text-center">
            <h1>CIS Syllabi</h1>
            <br/>
            <p>Listed below are the classes I have taken during my journey to learn what I know today. Click on each class to view the syllabus for that class, and click on the institution to view the curriculum as a whole.</p>
        </div>
        <br/>
        <div class="block container rounded p-3 text-center">
            <h2><a href="http://catalog.southeasttech.edu/preview_program.php?catoid=17&poid=2004">Southeast Technical Institute</a></h2>
            <br/>
            <div class="row no-gutters">
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis106_introduction_to_computers.pdf">CIS106 <br/> Introduction to Computers</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis130_introduction_to_programming.pdf">CIS130 <br/> Introduction to Programming</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis131_c_sharp_programming.pdf">CIS131 <br/> C# Programming</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis149_introduction_to_java.pdf">CIS149 <br/> Introduction to Java</a></p>
                </div>
            </div>
            <br/>
            <div class="row text-center no-gutters">
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis194_introduction_to_databases.pdf">CIS194 <br/> Introduction to Databases</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis195_internet_programming_essentials.pdf">CIS195 <br/> Internet Programming Essentials</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis196_internet_programming_ii.pdf">CIS196 <br/> Internet Programming II</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis207_ebusiness.pdf">CIS207 <br/> eBusiness</a></p>
                </div>
            </div>
            <br/>
            <div class="row text-center no-gutters">
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis236_introduction_to_msweb_development.pdf">CIS236 <br/> Introduction to Microsoft Web Development</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis241_dynamic_website_development.pdf">CIS241 <br/> Dynamic Website Development</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis249_advanced_objectoriented_programming.pdf">CIS249 <br/> Advanced Object Oriented Programming</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis279_advanced_databases.pdf">CIS279 <br/> Advanced Databases</a></p>
                </div>
            </div>
            <br/>
            <div class="row text-center no-gutters">
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis169_network_and_os_fundamentals.pdf">CIS169 <br/> Network and OS Fundamentals</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis296_advanced_microsoft_web_development.pdf">CIS296 <br/> Advanced Microsoft Web Development</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis266_web_services.pdf">CIS266 <br/> Web Services</a></p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../assets/pdf/cis299_internship.pdf">CIS299 <br/> Internship</a></p>
                </div>
            </div>
        </div>

    </body>
</html>