<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <title>CIS Syllabi - Mimi Lam</title>
        <link rel="icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="main.css"/>-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/images/favicon.ico"/>
                    Mimi Lam
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <a href="index.html" class="btn btn-outline-primary" role="button">Home</a>
                        <a href="about.html" class="btn btn-outline-primary" role="button">About Me</a> <p>&#9733;</p>
                        <a href="projects.html" class="btn btn-outline-primary" role="button">Projects</a> <p>&#9733;</p>
                        <a href="contact.html" class="btn btn-outline-primary" role="button">Contact</a>
                    </div>
                </div>
            </nav>
        </header>
        <h2>CIS Syllabi - <a href="http://catalog.southeasttech.edu/preview_program.php?catoid=7&poid=734&returnto=538">Southeast Technical Institute</a></h2>
        <br/>
        <div class="row text-center no-gutters">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <a href="syllabi/cis106_introduction_to_computers.pdf">CIS106 - Introduction to Computers</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis130_introduction_to_programming.pdf">CIS130 - Introduction to Programming</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis131_c#_programming.pdf">CIS131 - C# Programming</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis149_introduction_to_java.pdf">CIS149 - Introduction to Java</a>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br/>
        <div class="row text-center no-gutters">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <a href="syllabi/cis194_introduction_to_databases.pdf">CIS194 - Introduction to Databases</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis195_internet_programming_essentials.pdf">CIS195 - Internet Programming Essentials</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis196_internet_programming_ii.pdf">CIS196 - Internet Programming II</a>
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis207_ebusiness.pdf">CIS207 - eBusiness</a>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br/>
        <div class="row text-center no-gutters">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <a href="syllabi/cis236_introduction_to_msweb_developement.pdf">CIS236 - Introduction to MS Web Development</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis241_dynamic_website_development.pdf">CIS241 - Dynamic Website Development</a> 
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis249_advanced_objectoriented_programming.pdf">CIS249 - Advanced Object Oriented Programming</a>
            </div>
            <div class="col-lg-2">
                <a href="syllabi/cis279_advanced_databases.pdf">CIS279 - Advanced Databases</a>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </body>
</html>